<div class="card summary-insc mb-0 p-0 me-3">
    <div class="card-header">
        <h5 class="w-100">
            Summary
            <button *ngIf="geoLocations !== undefined" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#mapModal" (click)="showMap()"> Show Map </button>
        </h5>
    </div>
    <div class="card-body p-0 ms-2 mt-2 me-3 mb-0">
        <div id="progress">
            <p class="card-text placeholder-glow" *ngIf="count === -1">
                <span class="placeholder col-7"></span>
                <span class="placeholder col-4"></span>
            </p>
            <p *ngIf="count > -1" class="border-bottom"><b>Total:</b> {{ count | number:'1.0-0' }}</p>
        </div>
        <div id="progress">
            <p class="card-text placeholder-glow" *ngIf="totalDatasources === undefined">
                <span class="placeholder col-7"></span>
                <span class="placeholder col-4"></span>
            </p>
            <p *ngIf="totalDatasources !== undefined">
                <button class="btn btn-sm btn-primary float-end" (click)="downloadSummaryDataCSV(totalDatasources, 'datasources')">
                    <i class="bi bi-download"></i> CSV
                </button>
            </p>
            <table class="table table-striped table-hover border" *ngIf="totalDatasources !== undefined">
                <thead class="table-dark">
                    <tr>
                        <th>Sources</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let d of totalDatasources">
                        <td>{{ d.source }}</td>
                        <td>{{ d.count | number:'1.0-0' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <hr />
        <div id="progress">
            <p class="card-text placeholder-glow" *ngIf="totalEvidences === undefined">
                <span class="placeholder col-7"></span>
                <span class="placeholder col-4"></span>
            </p>

            <p *ngIf="totalEvidences !== undefined">
                <button class="btn btn-sm btn-primary float-end mb-2" (click)="downloadSummaryDataCSV(totalEvidences, 'evidences')">
                    <i class="bi bi-download"></i> CSV
                </button>
            </p>
            <div class="table-responsive border-bottom" style="height: 30vh !important;width: 100% !important;">
                <table class="table table-striped table-hover border table-evidence"
                    *ngIf="totalEvidences !== undefined">
                    <thead class="table-dark">
                        <tr>
                            <th>Evidences</th>
                            <th>Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of totalEvidences">
                            <td>
                                <span *ngIf="d.evidence === null">N/A</span>
                                <span *ngIf="d.evidence !== null">{{ d.evidence }}</span>
                            </td>
                            <td>{{ d.count | number:'1.0-0' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <hr />
        <div id="progress">
            <p class="card-text placeholder-glow" *ngIf="geoLocations === undefined">
                <span class="placeholder col-7"></span>
                <span class="placeholder col-4"></span>
            </p>
        </div>

        <div id="progress">
            <p class="card-text placeholder-glow" *ngIf="totalSourcesEvidences === undefined">
                <span class="placeholder col-7"></span>
                <span class="placeholder col-4"></span>
            </p>

            <p *ngIf="totalSourcesEvidences !== undefined">
                <button class="btn btn-sm btn-primary float-end mb-2" (click)="downloadSummaryDataCSV(totalSourcesEvidences, 'datasources_evidences')">
                    <i class="bi bi-download"></i> CSV
                </button>
            </p>

            <div class="table-responsive mt-3 border-bottom" style="height: 30vh !important;width: 100% !important;">
                <table class="table table-striped table-hover border table-evidence"
                    *ngIf="totalSourcesEvidences !== undefined">
                    <thead class="table-dark">
                        <tr>
                            <th>Sources</th>
                            <th>Evidences</th>
                            <th>Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of totalSourcesEvidences">
                            <td>
                                <span>{{ d.source }}</span>
                            </td>
                            <td>
                                <span *ngIf="d.evidence === null">N/A</span>
                                <span *ngIf="d.evidence !== null">{{ d.evidence }}</span>
                            </td>
                            <td>{{ d.count | number:'1.0-0' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="mapModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-fullscreen-md-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Map</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="map" style="height: 600px;"></div>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="getFilterValues()">Submit</button>
                </div> -->
            </div>
        </div>
    </div>
</div>